{% extends 'base.html'%}

{% block content %}
<div class="container" style="background-color: transparent;margin-top: 250px;">
    <div id="img_2"  style="margin-bottom: -260px;">
        <img src="https://si.wsj.net/public/resources/images/OG-AJ079_TWITSE_TOP_20161206131215.gif" 
            height="100px" width="600px"/>
        </div>
    <h1 style='margin-left: 10px; display: flex;'>   
    </h1>
    <div id="img_1" style="margin-left:115px;">
    <img src="https://media3.giphy.com/media/4N3Mqhl8JRyYLapZgt/source.gif" 
        height="100px" width="200px"/>
    </div>
    <div style="margin-left:155px;">

    <h1 style='margin-left:-50px;margin-top: 50px;color: rgb(10, 9, 20);'>
        Vibe_Checker-<br>Sentimental-analysis
</h1>
</div>
<div id="footer" style="color: white;display: flex;justify-content: space-around;font-size: 1.6em;flex-direction: row;margin-top: 5.5em;font-weight: 20;">
<footer >
    <small >Copyright © 2023 Rajvardhan Patil.All Rights Reserved.</small>
  </footer> </div>
</div>


{%endblock%}